:root {
  --c-1: #404bbf;
  --c-2: #4d5ae5;
  --c-3: #2e2f42;
  --c-4: #fff;
  --c-5: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--c-4);
  margin: 0; 
}

ul {
  list-style-type: none;
  margin: 0; 
  padding: 0; 
}

a {
  text-decoration: none;
  color: inherit; 
}

button {
  font-family: 'Raleway', sans-serif;
}

.logo {
  font-family: 'Raleway', sans-serif; 
  color: var(--c-2);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; 
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.logo span {
  color: var(--c-3); 
}

.nav-link {
  color: var(--c-3);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 0.3s; 
}

.nav-link:hover {
  color: var(--c-1);
}

button.hero-button,
.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 40px;
  border: none;
  border-radius: 4px;
}

button.hero-button {
  color: var(--c-5);
  background-color: var(--c-2);
  transition: background-color 0.3s;
}

button.hero-button:hover {
  background-color: var(--c-1);
}

address {
  font-style: normal; 
}

ul li a {
  min-width: 160px; 
}

h2,
h3 {
  font-weight: 500;
  letter-spacing: 0.02em;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

a:focus {
  color: var(--c-1);
}

a:hover {
  color: var(--c-1);
}